/* Centering the form on the page */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -50px;
  font-family: Arial, sans-serif;
  /* background-color: #c2bfef; */
}

.registration-container {
  background:linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.registration-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

.signin-link {
  margin-top: 10px;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .registration-container {
    padding: 15px 20px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    font-size: 16px;
  }

  .btn {
    font-size: 18px;
  }
}
