<div class="body">
  <div class="registration-container">
  <h2>Registration Form</h2>

  <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
    
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text" name="userName" ngModel />
    </div>
    
    <div class="form-group">
      <label for="phone">Enter Mobile</label>
      <input type="text" name="mobileNumber" ngModel />
    </div>

    <div class="form-group">
      <label for="emailId">Enter EmailId</label>
      <input type="text" name="emailId" ngModel />
    </div>

    <div class="form-group">
      <label for="password">Enter Password</label>
      <input type="password" name="password" ngModel />
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Register</button>
      <div class="signin-link">
        Already User? <a routerLink="/">Sign in</a>
      </div>
    </div>
    
  </form>
</div>
</div>

<!-- src/app/register/register.component.html -->
<!-- <body>

  <div class="form-container">
    <form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
      <h2 align="center">Registration Form</h2>
      <table align="center">
        <tbody>
          <tr>
            <td>Name :</td>
            <td><input type="text" name="userName" ngModel/></td>
          </tr>
          
          <tr>
            <td> Mobile Number :</td>
            <td><input type="text" name="mobileNumber" ngModel /></td>
          </tr>
          <tr>
          <tr>
            <td>EmailId :</td>
            <td><input type="email" name="emailId" ngModel/></td>
          </tr>
          <tr>
            <td>Password :</td>
            <td><input type="password" name="password" ngModel /></td>
          </tr>
          
          <tr>
            <td colspan="2">
              <div class="form-actions">
                <button class="btn btn-primary">Register</button>
                <span>Already User? <a routerLink="/login">SignIn</a></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>   
    </form>
  </div>
   </body> -->