<div class="aboutus-container">
    <img id="img1" src="https://img.freepik.com/premium-vector/world-travel-tourism_43605-146.jpg" alt="">

    <p class="para1"><strong class="heading1">About Flywise</strong>
        Welcome to Flywise, your trusted partner in seamless travel planning and ticket booking. At Flywise, we strive to
        transform your travel experience by offering a user-friendly, efficient, and reliable platform for booking flights.
        Whether you're traveling for business or leisure, Flywise provides a wide range of flight options, ensuring you find the
        best deals that suit your schedule and budget. Our advanced technology, combined with a commitment to exceptional
        customer service, allows us to offer a smooth booking process from start to finish. Join us at Flywise, where we make
        your journey our priority.
    </p>

    <img id="img2" src="https://www.ppg.edu.in/bschool/assets/img/mission-vision/mission.jpg" alt="">
    
    <p class="para2"><strong class="heading2">Our Mission</strong>
        Our Mission is to transform the way you book flights. We aim to provide an intuitive and comprehensive platform that
        meets all your travel needs. Our goal is to make flight booking as simple, quick, and stress-free as possible, using
        cutting-edge technology to deliver the best possible user experience. We believe that traveling should be an enjoyable
        experience from start to finish, and we're committed to making that a reality for all our users.
    </p>

    <img id="img3" src="https://miro.medium.com/v2/resize:fit:626/1*Cd0EJtQFY069JpMJGT_kJw.png" alt="">
    
    <p class="para3"><strong class="heading3">Our Technology</strong>
        Our Technology sets Flywise apart. Utilizing advanced algorithms and AI, we search through thousands of flight options
        in real-time to bring you the most relevant results. Our front end, built with Angular, offers a smooth, responsive, and
        intuitive interface, while our back end, powered by Spring Boot, ensures robust and secure data handling. With MySQL as
        our database, we provide reliable and efficient data management, ensuring your personal information is safe and your
        booking process is seamless.
    </p>

    <img id="img4" src="https://enlivenskills.com/wp-content/uploads/2020/03/airlines-customer-support.jpg" alt="">
    
    <p class="para4"><strong class="heading4">Customer Support</strong>
    We understand that travel plans can change and sometimes you need assistance. That's why Flywise
    offers 24/7 customer support to help with any questions or issues you may have. Whether you need help with booking,
    managing your itinerary, or handling travel-related concerns, our friendly and knowledgeable support team is here to
    assist you every step of the way.
    </p>

    <img id="img5" src="https://www.malaysiaairlines.com/content/dam/mh/my/en/about-us/join-us/join-cabin-crew/content-image/Join-Us-Image_990x557.png" alt="">
    
    <p class="para5"><strong class="heading5">Join Us</strong>
    Join Us on this exciting journey to revolutionize the travel booking experience. At Flywise, we’re not just about
    booking flights; we’re about making your travel dreams a reality. By choosing Flywise, you join a community of savvy
    travelers who value convenience and exceptional service. Explore our platform to find exclusive deals and enjoy a
    hassle-free booking process. Stay connected with us for the latest updates and travel tips. At Flywise, your journey is
    our priority. Thank you for choosing Flywise, where your adventures begin.
    </p>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>