.aboutus-container{
    padding: 50px;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.para1{
     width: 55rem;
     font-size: 25px;
     line-height: 1.6;
     position: absolute;
     top: 10rem;
     right: 35rem;
}
.para2{
  width: 50rem;
  font-size: 25px;
  line-height: 1.6;
  position: absolute;
  top: 42rem;
  left: 40rem;
}
.para3{
     width: 55rem;
     font-size: 25px;
     line-height: 1.6;
     position: absolute;
     top: 70rem;
     right: 35rem;
}
.para4{
  width: 50rem;
  font-size: 25px;
  line-height: 1.6;
  position: absolute;
  top: 100rem;
  left: 40rem;
}
.para5{
     width: 55rem;
     font-size: 25px;
     line-height: 1.6;
     position: absolute;
     top: 125rem;
     right: 35rem;
}
.heading1{
    font-size: 30px;
    position: absolute;
    left: 5px;
    bottom: 335px;
}
.heading2{
    font-size: 30px;
    position: absolute;
    left: 10px;
    bottom: 250px;
}
.heading3{
    font-size: 30px;
    position: absolute;
    left: 5px;
    bottom: 260px;
}
.heading4{
    font-size: 30px;
    position: absolute;
    left: 10px;
    bottom: 220px;
}
.heading5{
    font-size: 30px;
    position: absolute;
    left: 5px;
    bottom: 290px;
}

#img1{
  border-radius: 15px;
  position: absolute;
  top: 8rem;
  right: 2rem;
  height: 25rem;
  width: 30rem;
}
#img2{
  border-radius: 65px;
  position: absolute;
  top: 38rem;
  left: 2rem;
  height: 23rem;
  width: 30rem;
}
#img3{
  border-radius: 15px;
  position: absolute;
  top: 65rem;
  right: 2rem;
  height: 25rem;
  width: 30rem;
}
#img4{
  border-radius: 20px;
  position: absolute;
  top: 95rem;
  left: 2rem;
  height: 23rem;
  width: 30rem;
}
#img5{
  border-radius: 15px;
  position: absolute;
  top: 120rem;
  right: 2rem;
  height: 25rem;
  width: 30rem;
}