<!-- <div class="body"><div class="forgot-password-container">
    <div class="forgot-password-box">
        <h2>Forgot Password</h2>
        <p>Please enter your email address to reset your password</p>
        <form action="/reset-password" method="POST">
            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/" class="back-to-login">Back to Login</a>
    </div>
</div></div> -->
<div class="body">
    <div class="forgot-password-container">
      <div class="forgot-password-box">
        <h2>Forgot Password</h2>
        <p>Please enter your email address to reset your password</p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="input-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" formControlName="email" required>
          </div>
          <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </form>
        <a href="/" class="back-to-login">Back to Login</a>
      </div>
    </div>
  </div>
  