.body {
    font-family: Arial, sans-serif;
    /* background-color: #eeb0b0; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 55vh;
    margin: 20px;
    
}

.forgot-password-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    max-width: 400px;
    background-color: #c2bfef;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.forgot-password-box {
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.back-to-login {
    display: block;
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

.back-to-login:hover {
    text-decoration: underline;
}
