/* Centering the form on the page */

.body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 60vh;
  margin: 80px;
  font-family: Arial, sans-serif;
  /* background-color: #f7f7f7; */
}

/* Container styling */
.login-container {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-control.invalid {
  border-color: #e74c3c;
}

.invalid-feedback {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 5px;
}

/* Button styling */
.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Link styling */
a {
  display: block;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .login-container {
    padding: 15px 20px;
  }

  .form-group input[type="text"],
  .form-group input[type="password"] {
    font-size: 16px;
  }

  .btn {
    font-size: 18px;
  }
}
