<div class="body">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" id="username" formControlName="username" class="form-control" />
        <div *ngIf="submitted && formControls['username'].errors" class="invalid-feedback">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" />
        <div *ngIf="submitted && formControls['password'].errors" class="invalid-feedback">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <a routerLink="/fp">Forgotpassword</a>
        <br>
        Not a user?<a routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div>
  