/* General Styling */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
  }
  
  /* Navbar Styling */
  .navbar {
    background-color: #004085;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #0056b3;
    border-radius: 5px;
  }
  
  .login-link {
    background-color: #28a745;
    border-radius: 5px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .login-link:hover {
    background-color: #218838;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-brand {
      margin-bottom: 10px;
    }
  
    .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
  
    .nav-item {
      margin: 5px 0;
    }
  }
  