<nav class="navbar">
  <div class="container">
    <a href="" class="navbar-brand">
      <i class="fas fa-plane-departure"></i> Flywise
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Flights</a>
      </li>
      <li class="nav-item">
        <a href="/bookings" class="nav-link">Bookings</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/contactus" class="nav-link">Contact Us</a>
      </li>-->
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li> 
      <li class="nav-item">
        <a href="/" class="nav-link login-link">Login</a>
      </li>
      <!-- <li class="nav-item">
        <a href="/register" class="nav-link login-link">Register</a>
      </li> -->
    </ul>
  </div>
</nav>
