<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <!-- <p>Email: support@flightreservation.com</p> -->
        <p>Phone: +123-456-7890</p>
        <p>Address: 123 Flight St, City, Country</p>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/login" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://in.linkedin.com" class="social-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Flight Reservation System. All rights reserved.</p>
    </div>
  </footer>
  
  <!-- Add Font Awesome CDN for social media icons -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  