/* Footer container styles */
.footer-container {
    background-color: #004085;
    color: #fff;
    padding: 40px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #007bff;
  }
  
  .footer-section p {
    margin: 10px 0;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    color: #bbb;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #007bff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #bbb;
  }
  