<div class="home-container">
    
    <div class="navigation">
      <div class="card">
        <h2>View Flights</h2>
        <p>Browse available flights and schedules.</p>
        <button routerLink="/flights" class="btn btn-primary">View Flights</button>
      </div>
      <div class="card">
        <h2>Book a Flight</h2>
        <p>Find and book your desired flight. Happy Journey!</p>
        <button routerLink="/bookings" class="btn btn-primary">Book Now</button>
      </div>
      <div class="card">
        <h2>Manage Bookings</h2>
        <p>View and manage your existing bookings.</p>
        <button routerLink="/manage-bookings" class="btn btn-primary">Manage Bookings</button>
      </div>
      <div class="card">
        <h2>Profile</h2>
        <p>Update your personal information and preferences.</p>
        <button routerLink="/profile" class="btn btn-primary">Profile</button>
      </div>
    </div>
  </div>
  