.home-container {
    text-align: center;
    margin-top: 50px;
    font-family: 'Arial, sans-serif';
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 55px;
  }
  
  .home-container h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.5em;
  }
  
  .card p {
    color: #777;
    font-size: 1em;
    margin: 10px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
  }
  